<div id="seekBar">
    <div class="seekBarContent">
        <div class="seekRoute"></div>

        <div class="musicsControl">
            <div>
                <div class="control-item">
                    <button id="prev-btn">
                        <img src="../../assets/icons/prev.svg" alt="">
                    </button>
                </div>
                <div class="control-item" >
                    <button id="forward-left-btn" title="-10s">
                        <img src="../../assets/icons/forward-left.svg" alt="">
                    </button>
                </div>
                <div class="control-item">
                    <button id="play-btn">
                        <img src="../../assets/icons/play.svg" alt="">
                    </button>  
                    
                    <button id="pause-btn" class="not-visible">
                        <img src="../../assets/icons/pause.svg" alt="">
                    </button>  
                </div>
                        
                
                <div class="control-item">
                    <button id="forward-right-btn" title="+10s">
                        <img src="../../assets/icons/forward-right.svg" alt="">
                    </button>
                </div>   
                         
                <div class="control-item">
                    <button id="next-btn">
                        <img src="../../assets/icons/next.svg" alt="">
                    </button>
                </div>

                <div class="control-item">
                    <div class="order-control">
                        <button id="shuffle-btn">
                            <img src="../../assets/icons/shuffle.svg" alt="">
                        </button>  
                        
                        <button id="straight-btn" class="not-visible">
                            <img src="../../assets/icons/straight.svg" alt="">
                        </button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>