.nav-logo,.nav-logo >img{
    width: 55px;
    height: 55px;
}
.nav-logo >img{
    border-radius: 100%;
}

nav{
    height: 80px;
    background-color: black;
}

#nav-content{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.brand{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#searchField{
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 300px;
    padding: 0 10px;
    font-size: medium;
}